ngb-modal-window .playlist {
  display: flex;
  flex-direction: column;
}

ngb-modal-window .video-sharing-container {
  margin-bottom: 25px;
}

ngb-modal-window .video-sharing {
  margin-right: 10px;
  cursor: pointer;
}

ngb-modal-window .video-sharing:last-child {
  margin-right: 0;
}

ngb-modal-window .video-sharing:hover,
ngb-modal-window .video-sharing:active,
ngb-modal-window .video-sharing:focus,
ngb-modal-window .video-sharing:focus-within {
  text-decoration: none !important;
  outline: none !important;
}

ngb-modal-window .video-sharing span svg {
  width: 40px;
  height: 40px;
  fill: var(--greyForegroundColor);
  stroke: transparent;
  transition: fill 0.2s ease-in;
}

ngb-modal-window .video-sharing.facebook:hover span svg,
ngb-modal-window .video-sharing.facebook:active span svg,
ngb-modal-window .video-sharing.facebook:focus span svg,
ngb-modal-window .video-sharing.facebook:focus-within span svg {
  fill: #1877F2;
}

ngb-modal-window .video-sharing.twitter:hover span svg,
ngb-modal-window .video-sharing.twitter:active span svg,
ngb-modal-window .video-sharing.twitter:focus span svg,
ngb-modal-window .video-sharing.twitter:focus-within span svg {
  fill: #1DA1F2;
}
