ngb-modal-window .playlist {
  display: flex;
  flex-direction: column;
}

ngb-modal-window .video-sharing-container {
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

ngb-modal-window .video-sharing {
  cursor: pointer;
  display: inline-flex;
  text-decoration: none !important;
  outline: none !important;
  color: #000;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
  margin-left: 10px;
  margin-right: 10px;
}

ngb-modal-window .video-sharing:last-child {
  margin-right: 0;
}

ngb-modal-window .video-sharing svg {
  width: 40px;
  height: 40px;
  fill: var(--greyForegroundColor);
  stroke: transparent;
  margin-bottom: 5px;
}

ngb-modal-window .video-sharing.facebook svg {
  fill: #1877F2;
}

ngb-modal-window .video-sharing.twitter svg {
  fill: #1DA1F2;
}

ngb-modal-window .video-sharing.linkedin svg {
  fill: #0077b5;
}

ngb-modal-window label.share-link {
  align-self: start;
}
